table{
    border-collapse: collapse;
    border: solid 1px black;
    min-width: 10rem;
}

tr:nth-child(odd) {background-color: lightgrey;}

th {
    background-color: white; 
    border-bottom: solid 1px black;
}

.name-price{
    text-align: left;
}